{% load static %}
{% static "css/index.css" %}
        <meta charset="UTF-8">
        <header>
            <!-- Получаем данные пользователя из встроенной модели user и выводим их списком -->
            ПОЛЬЗОВАТЕЛЬ: {{ user.username }}
            <ul>
                <li>user.username - {{ user.username}}</li>
                <li>user.password - {{ user.password }}</li>
                <li>user.email - {{ user.email }}</li>
                <li>user.first_name - {{ user.first_name }}</li>
                <li>user.last_name - {{ user.last_name }}</li>
                <li>user.groups - {{ user.groups }}</li>
                <li>user.user_permissions - {{ user.user_permissions }}</li> 
                <li>user.is_staff - {{ user.is_staff }}</li>               
                <li>user.is_superuser - {{ user.is_superuser }}</li>
                <li>user.is_active - {{ user.is_active }}</li>
                <li>user.date_joined - {{ user.date_joined }}</li>
                <li>user.last_login - {{ user.last_login }}</li>
            </ul>
