# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/
# Django
*.sqlite3
staticfiles
datadump.json
datadump1.json
DB_PATH
Scratches/
изображения/
# Media

# Environment
.env
.env.dev
.env.prod
# IDE
.vscode/
*.ipnb_checkpoints/
