{% load static %}
{% static "css/index.css" %}
        <meta charset="UTF-8">      
        <header>
            <!-- Получаем данные сотрудника из встроенной модели Employee и выводим их списком -->
            СОТРУДНИК: {{ employee.first_name }} {{ employee.last_name }}</br>

            <!--Путь к фото upload_to="employee_images/" указан в image - экземпляре класса ImageField() в модели EmployeeImage-->
            <!-- выводим главное изображение в красной рамке из контекстного объекта main_image -->
            <img src="{{ main_image.image.url }}" alt="PHOTO" style="border: 8px solid red;">

            <!--<ul> 
                 {% for image in employee.employee_gallery.all %} Перебираем все изображения -->
                <!--     {% if image.is_main %}                        Если это главное изображение -->
                <!--         <img src="{{ image.image.url }}" alt="PHOTO" style="border: 8px solid red;">    выводим главное изображение в красной рамке -->
                <!--    {% endif %}
                {% endfor %}
            </ul>-->
            <ul>
                <li>user.username - {{ user.username}}</li>
                <li>employee.user_id - {{ employee.user_id }}</li>
                <li>email - {{ employee.email }}</li>
                <li>Имя - {{ employee.first_name }}</li>
                <li>Фамилия - {{ employee.last_name }}</li>
                <li>Пол - {{ employee.gender }}</li>
                <li>Дата приёма на работу - {{ employee.employment_date }}</li>
                <li>Стаж в днях - {{ employee.employment_days }}</li>
                <li>Номер стола - {{ employee.workplace }}</li>
                <li>Описание - {{ employee.description }}</li>
            </ul>
            Навыки(уровень):
            <ul>
                {% for skill_ in employee.skilllevel_set.all %}
                    <li>
                        {{ skill_.skill.name }} ({{ skill_.level }})
                    </li>
                    {% empty %}
                        <li>Нет навыков</li>
                {% endfor %}
            </ul>
            Изображения:
            <ul>
                {% for image in employee.employee_gallery.all %}
                    {% if image.image %}
                        {% if not image.is_main %}
                            <img src="{{ image.image.url }}" alt="PHOTO">
                        {% endif %}
                    {% else %}
                        <p> "нет изображения, добавьте изображение или удалите объект" </p>
                    {% endif %}
                {% endfor %}
            </ul>
        </header>